<div class="wrapper">
    <div class="sidebar">
        <div class="sidebar-header">
            <h5>{{title}}</h5>
        </div>
        <div class="sidebar-content">
            <div class="sidebar-button">
                <button class="btn btn-primary px-4" (click)="openDialog()"><i class="fas fa-plus mr-2"></i> Cash Out</button>
            </div>
            <ul class="navbar-nav" *ngFor="let navItem of navItems">
                <li class="nav-item">
                    <a routerLink="{{navItem.navLink}}" class="nav-link"><i class="{{navItem.icon}}"></i> {{navItem.navName}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>