.wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.content {
    min-height: 100vh;
    width: 100%;
    padding: 1.5rem;
    margin-left: 17rem;
    position: relative;
}

.sidebar {
    width: 270px;
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    color: #333;
    transition: all .3s;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
    position: fixed;
    z-index: 1;
}

.sidebar-header {
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 1.4rem;
}

.sidebar-button {
    text-align: center;
    margin-bottom: 1.5rem;
}

.sidebar .nav-item {
    margin: .25rem 2.95rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar .nav-item i {
    width: 20px;
    text-align: center;
    align-items: center;
    margin-right: 10px;
    font-size: 15px;
}

.sidebar .nav-link:hover {
    color: #3445b4;
}

.sidebar .nav-link {
    color: #333;
}